name: Node.js Package

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-dir: [mpsqlite, mpsqlite-vite-build]
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: ${{ matrix.package-dir }}
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      
      - name: Upgrade npm
        run: npm install -g npm@latest

      - run: npm ci
      - run: npm run build
      - run: npm publish --provenance --access public
